<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jlt.analysis.mapper.FirstinStallMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.jlt.analysis.model.FirstinStall" id="resultMap">
        <result property="id" column="id"/>
        <result property="loadingTime" column="loading_time"/>
        <result property="gps" column="gps"/>
        <result property="appVersion" column="app_version"/>
        <result property="deviceos" column="deviceos"/>
        <result property="firm" column="firm"/>
        <result property="deviceId" column="device_id"/>
        <result property="osType" column="os_type"/>
        <result property="appList" column="app_list"/>
        <result property="appId" column="app_id"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

</mapper>