<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jlt.analysis.mapper.ImportWalletMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.jlt.analysis.model.ImportWallet" id="resultMap">
        <result property="id" column="id"/>
        <result property="timesStamp" column="times_stamp"/>
        <result property="account" column="account"/>
        <result property="createType" column="create_type"/>
        <result property="chainId" column="chain_id"/>
        <result property="address" column="address"/>
        <result property="gps" column="gps"/>
        <result property="deviceId" column="device_id"/>
        <result property="appId" column="app_id"/>
        <result property="createTime" column="create_time"/>
    </resultMap>



</mapper>